.fuente {
  font-family: "Bebas Neue", serif;
}
.fs-x1 {
  font-size: 6rem;
}
.links {
  margin-bottom: 0px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.direcciones {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: inherit;
}
.pagina2-texto1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
}
.pagina2-texto2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}

.espaciado {
  margin-top: 10rem;
}
.header {
  border-style: solid;
  background-color: #ffffff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #eeecea;
  border-bottom-color: #eeecea;
  border-left: none;
  border-right: none;
  margin-top: 30px;
}
.categorias {
  display: flex;
  list-style-type: none;
  padding: 0 !important;
  justify-content: center;
  margin-bottom: 0px;
}


  .enlaces{
    text-decoration: none;
    color: black;
    height: 40px;
    display: block;
    margin-top: 5px;
  }
  .header ul li {
    padding: 0px 15px;
    height: 40px;
}